html[data-theme="light"] {
    --pst-color-primary: #00939D;
	--pst-color-secondary: #E50019;
	--pst-color-accent: #3e4a83;
	--pst-color-background: white;
	--past-color-on-background: #7E9CBB;
	--pst-color-surface: #ebebeb;
	--pst-color-on-surface: black;
	--pst-color-target: #ffcd31;
	--pst-color-text-base: black;
	--pst-color-text-muted: #A4A4A4;
	--pst-color-shadow: #ebebeb;
	--pst-color-border: #ceb194;
	--pst-color-border-muted: #bd987a;
	--pst-color-inline-code: #A72587;
}

html[data-theme="dark"] {
    --pst-color-primary: #40aeb6;
	--pst-color-secondary: #bd5ca5;
	--pst-color-accent: #E50019;
	--pst-color-background: black;
	--past-color-on-background: #75005c;
	--pst-color-surface: #262626;
	--pst-color-on-surface: white;
	--pst-color-target: #8b3e3a;
	--pst-color-text-base: #ebebeb;
	--pst-color-text-muted: #7e9cbb;
	--pst-color-shadow: slate grey;
	--pst-color-border: #3E4A83;
	--pst-color-border-muted: #7E9CBB;
	--pst-color-inline-code: #bd987a;
}

html {
    --pst-font-family-base: Arial, var(--pst-font-family-base-system);
    --pst-font-family-heading: Arial Black, var(--pst-font-family-base-system);
}

figure {
	figcaption {
		font-family: Arial Semi-Condensed, var(--pst-font-family-base);
	}
}


